<!--  *************** fragment du header *************** -->
<head th:fragment="header">
<title>Echoppe</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />

<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
</head>

<!--  *************** fragment de navigation *************** -->
<div th:fragment="navigation">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Accueil</a>
		<button class="navbar-toggler" type="button" data-toggle="dropdown"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item dropdown"><a
					class="btn btn-secondary dropdown-toggle" role="button"
					id="navbarDropdown" href="#" data-toggle="dropdown"> Menu </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="/articles/name/asc/1">Liste articles</a> 
							<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item" href="/input_articles">Saisie articles</a> 
							<a class="dropdown-item" href="/advancedSearch">Recherche avancée</a>
					</div>
				</li>
			</ul>
			
			<form class="form-inline my-2 my-lg-0" action="#">
				<input class="form-control mr-sm-2" type="search"
					placeholder="Search" aria-label="Search" id="searchQuery">
				<button class="btn btn-outline-success my-2 my-sm-0" id="searchBtn">Search</button>
			</form>
			<div class="login" sec:authorize="!isAuthenticated()">
				<a id="login_link" href="/login" class="btn btn-info ml-1">Login</a>
				<a href="/register" class="btn btn-info ml-1">Inscription</a>
			</div>
			<div class="d-inline logout" sec:authorize="isAuthenticated()">
				Utilisateur: <span sec:authentication="name">[]</span>
				<a href="/profil" class="btn btn-info ml-1">Profil</a>
					<a href="/logout" class="btn btn-warning ml-1">Logout</a>
				
			</div>
		</div>
	</nav>
	<!-- **************** logout ****************** -->


</div>

<!--  *************** fragment js *************** -->
<div th:fragment="scripts">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		crossorigin="anonymous"></script>
	<script type="text/javascript"
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script th:inline="javascript">


    	document.getElementById("searchBtn").addEventListener("click", function(event){
    	  event.preventDefault();
    	  var searchQuery = document.getElementById("searchQuery").value; 

    	    var url = [[@{/search}]] +"/name/"+ searchQuery+"/name/asc/1"; 

    	    window.location.href = url;
    	});

</script>
</div>



