<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:insert="fragments/fragments.html :: header"/>

	<body>

		<div th:replace="fragments/fragments.html :: navigation"></div>
	
		<div class="container">
			<div class="jumbotron">
			  <h1 class="display-4">ADMIN PAGE</h1>
			  <p class="lead">Exemple de code relatif à l'utilisation du moteur de template Thymeleaf avec Spring Boot</p>
			  <hr class="my-4">
			  <p>Exemples:</p>
			  <ul class="list-group">
				  <li class="list-group-item">
				  	<a href="/form">Formulaire (marche pas)</a>
				  </li>
				  <li class="list-group-item">Morbi leo risus</li>
				  <li class="list-group-item">Porta ac consectetur ac</li>
				  <li class="list-group-item">Vestibulum at eros</li>
				</ul>
			</div>
			
		</div>
		
		<div th:replace="fragments/fragments.html :: scripts"></div>
		
	</body>
</html>