<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:insert="fragments/fragments.html :: header"/>

	<body>

		<div th:replace="fragments/fragments.html :: navigation"></div>
	
		<div class="container">
			<div class="jumbotron">
			  <h1 class="display-4">ADMIN PAGE</h1>
			  <a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-info" href="/input_articles">Saisie articles</a> 
			</div>
			
		</div>
		
		<div th:replace="fragments/fragments.html :: scripts"></div>
		
	</body>
</html>