<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments.html :: header" />

<body>
	<div th:replace="fragments/fragments.html :: navigation"></div>

	<div class="container">
		<div class="card">
			<div class="card-header">
				<h2 th:text="${article.name}" />
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Prix</th>
							<th scope="col">Categorie</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${article.price}" />
							<td th:text="${article.category.name}" />
						</tr>
					</tbody>
				</table>
			</div>
			 <form action="#" th:action="@{/buy}" method="post">
				Quantité:
				<input type="number" name="quantity" min="1">
				
				<input type="hidden" name="articleId" th:value="${article.id}"/>
			 	<button type="submit" class="btn btn-success">Ajouter au panier</button>
			 </form>
			 <div>
			 	<tr th:each="comment: ${comments}">
					<td th:text="${comment.getUtilisateur().getUsername()}"></td>
					<td th:text="${comment.getComment()}"></td>
				</tr>
			 </div>
		</div>


		<div th:replace="fragments/fragments.html :: scripts"></div>
</body>
</html>