<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments.html :: header" />

<body>

	<div th:replace="fragments/fragments.html :: navigation"></div>

	<div class="container">
		<div class="card">
			<div class="card-header">
				<h2>Liste des articles</h2>
			</div>
			<div class="card-body" th:if="${pageNb != 0 }">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Nom  
								<a th:href="@{'/articles/name/desc/' + ${pageNum}}" th:if="${search eq '0'}">▾</a>
								<a th:href="@{'/articles/name/asc/' + ${pageNum}}" th:if="${search eq '0'}">▴</a>
								<a th:href="@{'/search/'+${what}+'/'+${searchQuery}+'/name/desc/' + ${pageNum}}" th:if="${search eq '1'}">▾</a>
								<a th:href="@{'/search/'+${what}+'/'+${searchQuery}+'/name/asc/' + ${pageNum}}" th:if="${search eq '1'}">▴</a>
							</th>
							<th scope="col">Catégorie 
								<a th:href="@{'/articles/category/desc/' + ${pageNum}}" th:if="${search eq '0'}">▾</a>
								<a th:href="@{'/articles/category/asc/' + ${pageNum}}" th:if="${search eq '0'}">▴</a>
								<a th:href="@{'/search/'+${what}+'/'+${searchQuery}+'/category/desc/' + ${pageNum}}" th:if="${search eq '1'}">▾</a>
								<a th:href="@{'/search/'+${what}+'/'+${searchQuery}+'/category/asc/' + ${pageNum}}" th:if="${search eq '1'}">▴</a>
							</th>
							<th scope="col">Prix 
								<a th:href="@{'/articles/price/desc/' + ${pageNum}}" th:if="${search eq '0'}">▾</a>
								<a th:href="@{'/articles/price/asc/' + ${pageNum}}" th:if="${search eq '0'}">▴</a>
								<a th:href="@{'/search/'+${what}+'/'+${searchQuery}+'/price/desc/' + ${pageNum}}" th:if="${search eq '1'}">▾</a>
								<a th:href="@{'/search/'+${what}+'/'+${searchQuery}+'/price/asc/' + ${pageNum}}" th:if="${search eq '1'}">▴</a>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="article: ${articles}">
							<td><a th:href="@{'/article/' + ${article.id}}" th:text="${article.name}"/></td>
							<td th:text="${article.category.name}"></td>
							<td th:text="${article.price}"></td>
							<div sec:authorize="hasRole('ROLE_ADMIN')">
								<td><a th:href="@{'/delete_article/' + ${article.id}}" class="btn btn-info"/a>Delete</a></td>
								<td><a th:href="@{'/alter_article/' + ${article.id}}" class="btn btn-info"/a>Alter</a></td>
							</div>
						</tr>
						<tr sec:authorize="hasRole('ROLE_ADMIN')">
							<td><a href="/input_articles"
								class="btn btn-primary btn-lg active" role="button"
								aria-pressed="true">Nouvel article</a></td>
							<td></td>
						</tr>
					</tbody>
				</table>
				Page: 
				<th:block th:if="${search eq '0'}" th:each="i: ${#numbers.sequence(1, pageNb)}">
				    <a th:href="@{'/articles/'+${sort}+'/'+${order}+'/' + ${i}}" th:if="${pageNum == i}" class="active" ><strong th:text="${i}"></strong></a>
				    <a th:href="@{'/articles/'+${sort}+'/'+${order}+'/' + ${i}}" th:unless="${pageNum == i}" th:text="${i}"></a>
				</th:block>
				<th:block th:if="${search eq '1'}" th:each="i: ${#numbers.sequence(1, pageNb)}">
				    <a th:href="@{'/search/'+${what}+'/'+${searchQuery}+'/'+${sort}+'/'+${order}+'/' + ${i}}" th:if="${pageNum == i}" class="active" ><strong th:text="${i}"></strong></a>
				    <a th:href="@{'/search/'+${what}+'/'+${searchQuery}+'/'+${sort}+'/'+${order}+'/' + ${i}}" th:unless="${pageNum == i}" th:text="${i}"></a>
				</th:block>
			</div>
			<div class="card-body" th:unless="${pageNb != 0 }">
			Aucun article ne correspond à votre critère de recherche
			</div>


		</div>


		<div th:replace="fragments/fragments.html :: scripts"></div>
</body>
</html>