<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments.html :: header" />

<body>

	<div th:replace="fragments/fragments.html :: navigation"></div>

	<div class="container">
		<div class="card">
			<div class="card-header">
				<h2>Résumé de votre commande</h2>
			</div>
			<div class="card-body">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Nom</th>
							<th scope="col">Prix</th>
							<th scope="col">Quantité</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="articleCommand: ${command.content}">
							<td th:text="${articleCommand.article.name}" />
							<td th:text="${articleCommand.article.price}" />
							<td th:text="${articleCommand.quantity}" />
						</tr>
					<tfoot>
						<tr>
							<td>Prix total:</td>
							<td th:text="${command.price}"></td>
							<td>Date de la commande:</td>
							<td th:text="${command.date}"></td>
						</tr>
					</tfoot>
					</tbody>
				</table>
				<div>
				 <form action="#" th:action="@{/command}" method="post">
					Choisir un mode de paiement:
					<ul>
						<li><label><input type="radio" name="method" value="0" />PayPal</label></li>
						<li><label><input type="radio" name="method" value="1" />Don de rein</label></li>
						<li><label><input type="radio" name="method" value="2" />Carte de crédit</label></li>
						<li><label><input type="radio" name="method" value="3" />Facture</label></li>
					</ul>
					<br />
					<input type="hidden" name="commandId" th:value="${command.id}"/>
					 	<button type="submit" class="btn btn-success">Payer</button>
					 </form>

				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/fragments.html :: scripts"></div>
</body>
</html>