<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:insert="fragments/fragments.html :: header"/>

	<body>

		<div th:replace="fragments/fragments.html :: navigation"></div>
	
		<div class="container">
			<div class="jumbotron">
			  <h1 class="display-4">Bienvenue dans l'ECHOPPE</h1>
			  <p class="lead">Ici vous pourrez faire votre petit marché en trouvant toute sorte d'article divers et varié</p>
			  <hr class="my-4">
			</div>			
		</div>
		
		<div th:replace="fragments/fragments.html :: scripts"></div>
		
	</body>
</html>