<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments.html :: header" />

<body>

	<div th:replace="fragments/fragments.html :: navigation"></div>

	<div class="container">
		<div class="card">
			<div class="card-header">
				<h2>Résumé de votre paiement</h2>
			</div>
			<div class="card-body">
			<table class="table">
					<thead>
						<tr>
							<th scope="col">Nom</th>
							<th scope="col">Prix</th>
							<th scope="col">Catégorie</th>
							<th scope="col">Quantité</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="articleCommand: ${command.content}">
							<td th:text="${articleCommand.article.name}" />
							<td th:text="${articleCommand.article.price}" />
							<td th:text="${articleCommand.article.category.name}" />
							<td th:text="${articleCommand.quantity}" />
						</tr>
					<tfoot>
						<tr>
							<td><strong>Prix total:</strong></td>
							<td><strong th:text="${command.price}"></strong></td>
						</tr>
					</tfoot>
					</tbody>
				</table>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Status</th>
							<th scope="col">Date</th>
							<th scope="col">Methode</th>
							<th scope="col">Montant</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						 	<td th:if="${command.payment.status} eq '1'">Payé</td>
							<td th:if="${command.payment.status} eq '0'">Non payé</td>
							<td th:text="${command.payment.date}" />
							<td th:if="${command.payment.method} eq '0'">PayPal</td>
							<td th:if="${command.payment.method} eq '1'">Don de rein</td>
							<td th:if="${command.payment.method} eq '2'">Carte de crédit</td>
							<td th:if="${command.payment.method} eq '3'">Facture</td>
							<td th:text="${command.price}" />
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div th:replace="fragments/fragments.html :: scripts"></div>
</body>
</html>