<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/fragments.html :: header" />

<body>

	<div th:replace="fragments/fragments.html :: navigation"></div>
	<div class="container">
		<div class="card">
			<div class="card-header">Page d'enregistrement</div>

			<div class="card-body">
				<form method="post" action="#" th:action="@{/register}">
					<div class="form-group">
						<labelfor"username">Username</label><input name="username" type="text" class="form-control" id="username" required placeholder="Username"/>
						<label for="inputEmail">Email address</label> <input type="email" name="email"
							class="form-control" id="inputEmail" aria-describedby="emailHelp"
							placeholder="Enter email" required> <small id="emailHelp"
							class="form-text text-muted">All your information is
							guaranteed to be kept private.</small> <label for="inputPassword">Password</label>
						<input type="password" class="form-control" name="password" id="inputPassword"
							placeholder="Password" required>
							<label for="inputPasswordConfirmation">Confirm your password</label>
							<input type="password" class="form-control" id="inputPasswordConfirmation"
							placeholder="Password confirmation" required>
					</div>
					<button type="submit" class="btn btn-primary" id="btnRegister">Submit</button>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragments/fragments.html :: scripts"></div>
	<script th:inline="javascript">


    	document.getElementById("btnRegister").addEventListener("click", event =>{
    	  
    	 	if(document.getElementById("inputPassword").value!=document.getElementById("inputPasswordConfirmation").value){
    	 		document.getElementById("inputPasswordConfirmation").setCustomValidity("Les mots de passe ne sont pas les mêmes");
	    		return false;
	    	}else{
	    		document.getElementById("inputPasswordConfirmation").setCustomValidity("");
	    		return true;
    		}
    	});

</script>
</body>
</html>